*.pyc
*.iml
.DS_Store
/node_modules
/.idea/*
!/.idea/runConfigurations
!/.idea/copyright
!/.idea/vcs.xml
/services/openstack-vim-plugin-service/openstack-vim-plugin/impl/service/src/main/resources/vim-scheduler.properties
/functional-tests/src/test/resources/com/nokia/cb/nfvo/tests/vimstatus/stories/vimstatusnotification.story
/nbi_enunciate.xml
/plugin_enunciate.xml
failsafe-summary.xml
/installationV2/ansible/*.pem
/installationV2/ansible/*.retry
/installationV2/vms_host_map.json
/installationV2/build.ini
/installationV2/ansible/plugins
/installationV2/ansible/roles/andrewrothstein.unarchive-deps
/installationV2/ansible/roles/ansible-etcd-master
/installationV2/ansible/roles/ansible-keepalived-master
/installationV2/ansible/roles/ansible-role-nginx-master
/installationV2/ansible/roles/williamyeh.nodejs
/installationV2/ansible/roles/README.md
/installationV2/ansible/roles/ansible-role-ntp
/installationV2/ansible/roles/dj-wasabi.zabbix-agent
/installationV2/ansible/roles/dj-wasabi.zabbix-server
/installationV2/ansible/roles/geerlingguy.apache
/installationV2/ansible/inventory
/services/*/installation/target/dca/*.xml
/services/analytics_service/package/rpm-be/target/*
/services/analytics_service/cbnd_vitrage.egg-info
cbnd-3rd-party-installation-resources